body{
    /*background: linear-gradient(45deg,rgb(173, 14, 14),black,rgba(11, 11, 184, 0.767));*/
    background:linear-gradient(45deg,black,gray);

}
#home{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:azure;
    position: fixed;
    width:100%;
    left: 0%;
    top: 0%;
    opacity: 0.9;
    z-index:1;
    
}
#home a{
    float: right;
    display: block;
    color: #000;
    padding: 14px 16px;
    margin: 16px;
    text-align: center;
    text-decoration: none;
    
}
a:hover{
    background-color:red;
}
#home.scrolled{
    background-color:grey;
}
#active{
    background-color:red;
}
#search{
    float:right;
    margin: 25px;
    padding: 5px  5px;
    width: 200px;
    box-sizing: border-box;
    border-radius: 25px;
    color: #000;
}
#hungry{
    float: left;
    margin: 12px;
    height: 70px;
    width: 150px;
    background-color:azure;
}
label{
    font-size:40px;
}
input[type=text], select, textarea {
    width:500px; 
    color:white ;
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  #fname,#lname,#country,#subject{
    color:white;
    background-color: #000;
    display: inline-block;
    width:500px;
    border-radius:20px;
  }
  

  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color:aqua;
    filter:drop-shadow(0 0 10px black);
    color: #000;
  }
   form {
    background-color:aliceblue;
    margin-top:180px;
    margin-left:600px;
    opacity:0.9;
    border: 5px solid black
    display:inline-block;
    border-radius:40px;
    justify-content: center;
    width:600px;
    height:700px;
    padding: 20px;
  }